<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /eduauth/

  # Remove .php extension from URL
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME}\.php -f
  RewriteRule ^(.*)$ $1.php [L,QSA]
</IfModule>

php_value upload_max_filesize 150M
php_value post_max_size 150M
php_value max_execution_time 300